*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
   
    display: flex;
    align-items: center;
    justify-content: center;

}
/* 1.từ trên xuống dưới 
   2.từ ngoài vào trong 
   3.từ tổng quan đến chi tiết 
*/
/* 1.vị trí 
2.kích thước
3.màu sắc 
4.kiểu dáng(kiểu chữ, hình tròn , vuông ..) */
html{
    font-family: Arial, Helvetica, sans-serif;
}

/* class chung */
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-third{
    width: calc(100%/3);
}
.col-half{
    width: 50%;
}
.text-center{
    text-align: center !important;
}

/* class main */

#main{
  
}
#header{
    height: 80px;
    background-color:black;
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 100%;
    color: #63464b;
    position:fixed;
    z-index:1;
    top: 0;
    left: 0;
    right: 0;
    text-transform: uppercase;
 
}

.anhead .tkb{
   margin-left: 180px;
}
.anhead, .subanhead{
    list-style: none;
    
}
.anhead > li {
    display: inline-block;
}
.anhead li {

position: relative;
}
.anhead >li> a{
    color: white;
}
.anhead li a {
    text-decoration: none;
    line-height: 80px;
    padding: 0 24px;
    display: block;
}   
.anhead >li:hover> a{
    color:white;
    opacity: 0.5;
}
.anhead >li:hover> a
,.anhead .subanhead li:hover a{
    border-radius: 5%;
}
.anhead .subanhead li:hover a{
    color: white;
    background-color: silver;
    
}
.anhead li:hover .subanhead{
    display: block;
    
}
.anhead .subanhead{
    position: absolute;
    background-color: white;
    box-shadow:  0 0 10px rgba(0 , 0 , 0 , 0.3);
    display: none;
    top: 100%;
    left: 0;
    border-radius: 5%;
    width: 200px;
}
.anhead .subanhead a {
color: black;
width: 200px;
padding: 0 12px

}
.anhead{
    display: inline-block;
}

/* taikhaon */
.login{
    float: right;
    margin-right: 30px;
}
.ti-user{
    margin-right: 10px;
}
.logo{
    float: left;
}
.anhead i {
    margin-left: 20px;
}
/* chuyen hinh */

 




/* footer */
